body{background-color:#efefef;font-family:'ัS'!important}
*{margin:0;padding:0;list-style:none}
a{color:#1b64b0;text-decoration:none}
a:hover{text-decoration:none!important;color:red!important}
.clear{clear:both}
.title h1{font-size:34px}
.header{width:100%;background-color:#1b64b0}
.title{color:#fff;font-weight:700;text-align:center;padding:70px 0}
.container{background-color:#efefef;width:100%!important;margin:0!important;padding:0!important}
.row{width:960px!important;margin:0 auto!important;min-height:450px;color:#1b64b0;font-weight:700;min-height:440px}
.gray{color:gray}
.userpage{margin:32px auto 18px 0;text-align:center;font-weight:700;font-size:16px;font-family:"ฎoลั","ัS";}
.gray1{font-size:15px;color:gray}
.explanation li{font-size:11px;font-family:"ฎoลั","ัS";font-weight:400}
.top{text-align:center;height:80px}
.top h4{float:left;margin-left:20px}
.top img{width:42px;float:left;height:42px;margin:19px 0}
.arealist{width:100%;margin-bottom:0;min-height:40px}
.arealist .area{float:left;font-size:23px;font-family:"ฎoลั","ัS";width:14%}
.arealist dd{float:left;font-size:18px;font-family:"S","ัS";margin-top:3px;line-height:40px;width:86%}
.footer{background-color:#1b64b0;height:100px;padding-top:40px;padding-top:40px;text-align:center;color:#9abbe4;font-size:12px;font-family:"ฎoลั","ัS";margin-top:-10px}
.footer p a{color:#9abbe4}
.areah{margin-bottom:21px}
@media only screen and (min-width:992px){dd a{padding:0 10px}
dt{line-height:42px!important}
.arealist dd .s{font-size:14px}
}
@media only screen and (max-width:991px){.top{height:103px;width:70%;margin:0 auto}
.top h4{text-align:left!important}
.row{width:100%!important}
.container{width:100%!important}
dd a{padding:0;margin:0}
.arealist dd .s{font-size:13px}
}
@media only screen and (min-width:800px) and (max-width:991px){.top img{width:50px}
.arealist dd{margin-top:0;line-height:35px}
.arealist dd .s{font-size:13px}
}
@media only screen and (min-width:768px) and (max-width:799px){.top img{width:50px}
.arealist dd{margin-top:0;line-height:30px}
.arealist dd .s{font-size:13px}
}
@media only screen and (min-width:600px) and (max-width:767px){.top{width:87%}
.arealist dd{margin-top:0;line-height:30px;width:84%}
.arealist .area{width:16%}
.arealist dd .s{font-size:13px}
}
@media only screen and (max-width:599px){.top img{display:none}
.top{width:100%;height:80px}
.top h4{width:100%;text-align:center!important;margin-left:0}
.arealist dd .s{font-size:10px}
}
@media only screen and (min-width:480px) and (max-width:599px){.arealist dd{margin-top:0;width:78%;line-height:30px;font-size:16px;margin-left:11px}
.arealist dd .s{font-size:10px}
.arealist .area{width:19%}
}
@media only screen and (min-width:400px) and (max-width:479px){.container{width:100%!important}
.title h1{font-size:27px}
.arealist .area{width:17%;font-size:16px;margin-top:5px}
.arealist dd{width:83%;font-size:16px;line-height:30px}
.arealist dd .s{font-size:10px}
.areah{margin-left:auto;margin-right:auto;width:85%}
}
@media only screen and (min-width:320px) and (max-width:399px){.container{width:100%!important}
.title h1{font-size:27px}
.arealist .area{width:17%;font-size:16px;margin-top:5px}
.arealist dd{width:83%;font-size:16px;line-height:30px}
.arealist dd .s{font-size:10px}
}
@media only screen and (max-width:319px){.top img{display:none}
.container{width:100%!important}
.title h1{font-size:27px}
.arealist .area{width:19%;font-size:16px;margin-top:9px}
.arealist dd{width:81%;font-size:15px;line-height:30px}
.arealist dd .s{font-size:10px}
}
/*!
 * Bootstrap v3.3.4 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{margin:.67em 0;font-size:2em}
mark{color:#000;background:#ff0}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
figure{margin:1em 40px}
hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}
button{overflow:visible}
button,select{text-transform:none}
button{-webkit-appearance:button;cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}
legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-spacing:0;border-collapse:collapse}
td,th{padding:0}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */@media print{*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
select{background:#fff!important}
}
@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{font-size:10px;-webkit-tap-highlight-color:transparent}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}
button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
a{color:#337ab7;text-decoration:none}
a:focus,a:hover{color:#23527c;text-decoration:underline}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
figure{margin:0}
img{vertical-align:middle}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
h1,h2,h3{margin-top:20px;margin-bottom:10px}
h4,h5,h6{margin-top:10px;margin-bottom:10px}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:18px}
h5{font-size:14px}
h6{font-size:12px}
p{margin:0 0 10px}
small{font-size:85%}
mark{padding:.2em;background-color:#fcf8e3}
ol,ul{margin-top:0;margin-bottom:10px}
dl{margin-top:0;margin-bottom:20px}
dd,dt{line-height:1.42857143}
dt{font-weight:700}
dd{margin-left:0}
@media (min-width:768px){}
blockquote{padding:10px 20px;margin:0 0 20px;font-size:17.5px;border-left:5px solid #eee}
address{margin-bottom:20px;font-style:normal;line-height:1.42857143}
code,kbd,pre,samp{font-family:Menlo,Monaco,Consolas,"Courier New",monospace}
code{padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;border-radius:4px}
kbd{padding:2px 4px;font-size:90%;color:#fff;background-color:#333;border-radius:3px;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.25);box-shadow:inset 0 -1px 0 rgba(0,0,0,.25)}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;color:#333;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width:768px){.container{width:750px}
}
@media (min-width:992px){.container{width:970px}
}
@media (min-width:1200px){.container{width:1170px}
}
.row{margin-right:-15px;margin-left:-15px}
.col-md-4,.col-md-8{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
@media (min-width:768px){}
@media (min-width:992px){.col-md-4,.col-md-8{float:left}
.col-md-8{width:66.66666667%}
.col-md-4{width:33.33333333%}
}
@media (min-width:1200px){}
table{background-color:transparent}
caption{padding-top:8px;padding-bottom:8px;color:#777;text-align:left}
th{text-align:left}
@media screen and (max-width:767px){}
fieldset{min-width:0;padding:0;margin:0;border:0}
legend{display:block;width:100%;padding:0;margin-bottom:20px;font-size:21px;line-height:inherit;color:#333;border:0;border-bottom:1px solid #e5e5e5}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700}
output{display:block;padding-top:7px;font-size:14px;line-height:1.42857143;color:#555}
.form-control:-ms-input-placeholder{color:#999}
.form-control::-webkit-input-placeholder{color:#999}
@media screen and (-webkit-min-device-pixel-ratio:0){}
@media (min-width:768px){}
@media (max-width:767px){}
@media screen and (min-width:768px){}
@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}
@-o-keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}
@keyframes progress-bar-stripes{from{background-position:40px 0}
to{background-position:0 0}
}
@media (min-width:768px){}
@media all and (transform-3d),(-webkit-transform-3d){}
@media screen and (min-width:768px){}
.container:after,.container:before,.row:after,.row:before{display:table;content:" "}
.container:after,.row:after{clear:both}
@-ms-viewport{width:device-width}
@media (max-width:767px){}
@media (min-width:768px)and (max-width:991px){}
@media (min-width:992px)and (max-width:1199px){}
@media (min-width:1200px){}
@media print{}
